:root {  
    --main-bg-color: #414e66;  
    --sub-bg-color:#f2f7fb;  
    --top-height: 70px  
    --main-border-radius:5px
    
}  
 * {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: 'Times New Roman', Times, serif;
 }
 a {
    text-decoration: none;  
    color: unset
 }
 li{
    list-style: none;
 }
.row-grid {  
    
    display: grid;  
    justify-content: space-between
}
.flex-box{
    display: flex;
    

}
.main-btn{
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.delete-class{
padding: 3px;
background-color: red;
color: whitesmoke;
border-radius: 5px;
}
.edit-class{
padding: 3px;
background-color: blue;
color: whitesmoke;
border-radius: 5px;
}
.confirm-order{
    padding: 3px;
background-color: green;
color: whitesmoke;
border-radius: 5px;
}
.none-confirm-order{
    padding: 3px;
background-color: rgb(239, 151, 151);
color: whitesmoke;
border-radius: 5px;
}
    /* main-admin*/  
    .admin .row-grid {  
    grid-template-columns: 20% 80%;  
}

    /* sidebar*/  
    .admin-sidebar {  
    height: 100vh;  
    background-color: var(--main-bg-color);  
    
    }
    .admin-sidebar-top{
        text-align: center;
        height: var(--top-height);
        border-bottom: 1px solid gray;
    }

.admin-sidebar-top img {
width: 70px;
}
.admin-sidebar-content > ul > li > a
{
width: 100%;
display: block;
display: flex;
justify-content: flex-start;
}
.admin-sidebar-content > ul > li > a i:last-child {
margin-left: auto;
}
.admin-sidebar-content ul li ai {
margin-right: 6px;
}
.admin-sidebar-content {
padding: 30px 0 0 30px;
color: whitesmoke;
}
.admin-sidebar-content ul li {
padding: 6px;
transition: var(--main-transition)
}
.admin-sidebar-content ul li:hover {
background-color: black;
}
.sub-menu {
height: 0;
overflow: hidden;
transition: var(--main-transition);
}
/*.sub-menu.active {
height: 60px;
} */

.sub-menu li:hover a{
    color: aqua;

}
/* content */  
.admin-content {  
background-color: var(--sub-bg-color);  
}  

.admin-content-top {
display: flex;
justify-content: space-between;
height: var(--top-height);
border-bottom: 1px solid gray;
padding: 0 12px;
}
.admin-content-top .flex-box {
height: 70px;
align-items: center;
}
.admin-content-top i {
margin-right: 12px;
}
.admin-content-top-right ul li:last-child p {
cursor: pointer;
}
.admin-content-top-right ul li:first-child i {
position: relative;
}
.admin-content-top-right ul li:first-child i::after {
position: absolute;
content: attr(number);
height: 20px;
width: 20px;
display: flex;
background-color: #4a87ce;
border-radius: 50%;
top: -12px;
right: -12px;
color: whitesmoke;
text-align: center;
justify-content: center;
align-items: center;
animation: notification;
animation-duration: 2s;
animation-iteration-count: infinite;

}
.admin-content-top-right ul li:nth-child(2) i {
position: relative;
}

.admin-content-top-right ul li:nth-child(2) i::after {
position: absolute;
content: attr(number);
height: 20px;
width: 20px;
display: flex;
background-color: brown;
border-radius: 50%;
top: 12px;
right: -12px;
color: whitesmoke;
text-align: center;
justify-content: center;
align-items: center;
animation: notification;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes notification {

0% {
    opacity: 0;
}
100%{
opacity: 1;
}
}

.admin-content-main-title h1 {
padding: 12px;
font-weight: 500;
position: relative;
}
.admin-content-main-title h1::before {
position: absolute;
display: block;
content: "";
height: 4px;
width: 70px;
background-color: var(--main-bg-color);
bottom: 6px;
left: 12px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
}

.admin-content-main-content-product-add{
display: grid;
grid-template-columns: 70% 30%;
padding: 12px;
column-gap: 20px;
}
.admin-content-main-content-left input {
height: 40px;
border: none;
background-color: white;
margin-bottom: 20px;
outline: none;
border-radius: var(--main-border-radius);
padding-left: 6px;
}
.admin-content-main-content-two-input {
display: flex;
justify-content: space-between;
}
.admin-content-main-content-two-input input {
width: 43%;
}
.admin-content-main-content-left textarea {
height: 200px;
width: 100%;
margin-bottom: 20px;
outline: none;
padding: 6px;
border: none;
}

.admin-content-main-content-right-image input {
display: none;
}
.admin-content-main-content-right-images input {
display: none;
}
.admin-content-main-content-right label {
padding: 6px 12px;
background-color: black;
color: whitesmoke;
cursor: pointer;
display: inline-block;
}
.image-show, .images-show {
min-height: 150px;
}

.admin-content-main-content-left{
    max-height: 700px;
    overflow: scroll;
}



.admin-content-main-content-prouct-list table {
width: 100%;
padding: 12px 0;
border-collapse: collapse;}

.admin-content-main-content-prouct-list table, th, td {
text-align: center;
}
.admin-content-main-content-prouct-list table th {
background-color: black;
color: whitesmoke;
padding: 6px 0;
}

/*oder lít*/

.admin-content-main-content-order-list table {
width: 100%;
padding: 12px 0;
border-collapse: collapse;}
.admin-content-main-content-order-list table a {
display: inline-block;
}
.admin-content-main-content-order-list table, th, td {
text-align: center;
}
.admin-content-main-content-order-list table th {
background-color: black;
color: whitesmoke;
padding: 5px 0;}
.admin-content-main-content-order-list table td {
padding: 6px 0;
}

/*login */
body{
    background: url('../images/bg.jpeg');
    background-size: cover;
    background-position-y: -80px;
    font-size: 16px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login{
    max-width: 400px;
    background: rgba(0, 0, 0 , 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}
.form-input::placeholder{
    color: #f5f5f5;
}
#eye i{
    padding-right: 0;
    cursor: pointer;
}
 
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-submit:hover{
    border: 1px solid #54a0ff;
}