* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header {

    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky {
    background:rgba(255, 255, 255, 1);
}
header:hover{
    background:rgba(255, 255, 255, 1);
}
.logo {
    flex: 1;


}
.menu { 
    flex: 3;
    display: flex;
}
.menu > li{
padding: 0 16px ;
position: relative;

}
.menu > li:hover .sub-menu {
    visibility: visible;
    top: 40px;
}
.sub-menu{
    position:absolute;
    width: 150px;
    border: 1px solid #ccc; 
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background-color: #fff;
}

.sub-menu ul {
    padding-left: 20px;
}
.sub-menu li a {
    font-weight: normal;
    font-size: 12px!important;
}
.menu > li>a {
    font-size: 12px;
    font-weight: bold;
    display: block;
line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}
.others > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #dddddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others > li {
    padding: 0 12px ;
    position: relative;
}
.others > li:first-child {
    position: relative;
}
.others > li:first-child input  {
    width: 100%;
    border: none;
border-bottom: 1px solid #333;
background: transparent ;
outline: none;
}

.others > li:first-child i{
    position: absolute;
    right: 10px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius:50% ;
    margin-right: 12px;
  }
  .dot.active{
    background-color: #333;
  }
  #silde {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
  }

  /*---------------------------------------------*/


  .app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
  }
  .app-google {
    margin: 50px;

  }
  .app-google img{
    height: 50px;
  }
  .app-container p {
    line-height:  20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }
  .app-container input {

    margin-top: 50px;
    border:none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
  }

  
  /*---------------------------------------------*/

  footer {
    text-align: center;

  }
 .footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;


  }
  .footer-top li {
    padding: 0 12px;
    position: relative;
  }
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-bottom {
    margin-top: 20px 0;
    text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.cartergory {
  padding: 100px 0 0;
}
.cartergory-top {
  margin-bottom: 50px;
}
.cartergory-top p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;

}
.cartergory-left {
  width: 20%;
  
}
.cartergory-right {
  width: 80%;
}
.cartergory-right-top-item:first-child{
flex: 2;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.cartergory-right-top-item {
  flex: 1;
  padding: 0 12px;
}
.cartergory-right-top-item button{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;
}
.cartergory-right-top-item select{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;  

}
.cartergory-right-content{
  margin-top: 20px;
  justify-content: space-between;

}
.cartergory-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}
.cartergory-right-content-item h1 {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: #333333;
}
.cartergory-right-content-item img {
  width: 100%;
}
.cartergory-right-content-item p {
  font-size: 12px;
}
.cartergory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
}
.cartergory-right-bottom p {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}

.cartergory-left ul li {
  padding: 12px 0;

}
.cartergory-left ul li>a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.cartergory-left ul li ul li {
  padding-left: 10px;
}
.cartergory-left-li ul{
  display: none;
}
.cartergory-left-li.block ul{
  display: block;
}
.cartergory-left ul li ul li a{
  color: #333333;
  font-size: 12px;
}
/********************************/



.product{
  padding: 100px 0;

}
.product-top{
  margin-bottom: 30px;
}
.product-top p{

  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;
}
.product-content-left{

  width: 50%;
}

.product-content-left-big-img{
  width: 80%;
  padding-right: 20px;
}
.product-content-left-big-img img{
  width: 100%;
}
.product-content-left-small-img{
  width: 20%;
}
.product-content-left-small-img img {
  width: 100%;
  cursor: pointer;
}
.product-content-right{
  width: 50%;
 
}
.product-content-right-product-name{

  font-size: 16px;
}
.product-content-right-product-name p {
  color: #cccccc;
  font-size: 12px;
}
.product-content-right-product-name-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;

}
.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #ccc;
  margin: 12px 10px 12px 0;
  font-size: 12px;
  cursor: pointer;
}
.quantily {

margin-bottom: 20px;
}
.quantily input{
  width: 35px;
  padding-left: 3px;

}
.product-content-right-bottom {
  padding-top: 40px;
  border: 1px, solid #dddddd;
  position: relative;
}
.product-content-right-bottom-top{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
top: -15px;
left: 50%;
cursor: pointer;

}
.product-content-right-bottom-content-title{
  border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-content-right-bottom-content-title-item p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.product-content-right-bottom-content{
  padding-top: 30px;
}
.product-content-right-bottom-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.product-content-right-bottom-content-baoquan{
  display: none;
}
.activeB  
{
  display: none ;
}

.product-related{
  margin-bottom: 50px;
}
.product-related-title {
  margin : 20px 0;
}
.product-related-title p {
  font-family: Arial, Helvetica, sans-serif;
font-size: 14px;font-weight: bold;
color: #333333;
}
.product-related-item {
  width: calc(100% - 60px);
}